* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .hero {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient()
    url();
    color: rgb(0, 27, 116);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .herotext {
    max-width: 850px;
    animation: floatIn 1.5s ease-out forwards;
    opacity: 0;
    font-family: "Alfa Slab One", serif;
  }
  .herotext h1 {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-weight: 700;
    letter-spacing: 1.5px;
    background: linear-gradient(90deg, #00ffe7, #3b82f6);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
    animation: fadeSlideIn 1.2s ease-out forwards;
    opacity: 0;
    margin-bottom: 20px;
    font-family: "Alfa Slab One", serif;

    
  }
  
  @media (max-width: 768px) {
    .herotext h1 {
      font-size: 2rem;
    }
  
    .herotext p {
      font-size: 1rem;
    }
  }
  
  /* Animations */
  @keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(-20px) scale(0.95);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes floatIn {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .imgh1{
    position: relative;
    justify-content: center;
    width: 1600px;
    height: 1000px;
  }
  .hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: large;
    padding: 20px;
    gap: 20px;
 
    
  }